body {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
}


.card-principal {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}